

.game {
    margin-top: 25px;
}

.game ul {
    padding-left: 0;
}

.btnNext {
    margin-top: 0;

    position: absolute;
    bottom: 30px;
    right: 37px;
}

.svgGame {
    position: absolute;
    top: -74px;
    right: 0;
}

.numberQ {
    font-size: 22px;
    position: absolute;
    left: 45px;
    bottom: 15px;
}